<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard</title>
  
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600,500,400,300" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <script src="static/tiss.js" defer></script>
  <link rel="stylesheet" href="static/main.css" />
</head>
<body>
  <div class="container">
    <!-- <h1>Welcome Admin Panel {{ username }}! <hr></h1> -->
    <!-- <div id="tableContainer">
      {{ user_table | safe }}
    </div> -->
    <!-- start header -->
    <section class="main">
      <div class="header">
        <div class="logo">
          <i class="fa fa-tachometer"></i>
          <span>HR Portal</span>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
      </div>
      <div class="side-nav">
        <div class="logo">
          <i class="fa fa-tachometer"></i>
          <span>Admin Panel</span>
        </div>
        <nav>
          <ul>
            <li class="tablinks" onclick="openTab(event, '')">
              <a href="/download">
                <span><i class="fas fa-rupee-sign"></i></span>
                <span>Salary</span>
              </a>
            </li>
            <li class="tablinks" onclick="openTab(event, '')">
              <a href="/attendance_regularization">
                <span><i class="fas fa-calendar"></i></span>
                <span>Attendance</span>
              </a>
            </li>
            <li class="tablinks" onclick="openTab(event, '')">
              <a href="/on_boarding">
                <span><i class="fas fa-user-plus"></i></span>
                <span>Onboarding</span>
              </a>
            </li>
            <li class="tablinks" onclick="openTab(event, '')">
              <a href="/F_boarding">
                <span><i class="fas fa-list-alt"></i></span>
                <span>Off Boarding</span>
              </a>
            </li>
            <li class="tablinks" onclick="openTab(event, '/Assets_Management')">
              <a href="/Assets_Management">
                <span><i class="fas fa-list-alt"></i></span>
                <span>Assets Management</span>
              </a>
            </li>
            <li class="tablinks" onclick="openTab(event, '/on_Insurance')">
              <a href="/on_Insurance">
                <span><i class="fas fa-user-plus"></i></span>
                <span></span>
              </a>
            </li>
            <li class="tablinks" onclick="openTab(event, '/')">
              <a href="/">
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </nav>
         
      </div>
      <!-- end header -->
      <!-- start dash -->
      <div class="main-content" id="dash">
        <div class="title">
          <h3 class="title__p">Welcome</h3>
          <p class="title__p">Dashboard</p>
        </div>
        <div class="main tabcontent"></div>
      </div>
      <!-- end dash -->
    </section>
  </div>
</body>
<script>
  function openTab(event, tabName) {
    // Function to open tabs (needs implementation)
  }

  function viewLeaveRequests() {
    window.location.href = '/leave_approval_list';  // Update the URL
  }
</script>
</html>
