<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard</title>
  
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600,500,400,300" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <script src="static/tiss.js" defer></script>
  <link rel="stylesheet" href="static/main.css" />
</head>
<body>
  <div class="container">
    <!-- <h1>Welcome Admin Panel {{ username }}! <hr></h1> -->
    <!-- <div id="tableContainer">
      {{ user_table | safe }}
    </div> -->
    <!-- start header -->
    <section class="main">
      <div class="header">
        <div class="logo">
          <i class="fa fa-tachometer"></i>
          <span>HR Portal</span>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
      </div>
      <div class="side-nav">
        <div class="logo">
          <i class="fa fa-tachometer"></i>
          <span>On Boarding Panel</span>
        </div>
        <nav>
          <ul>
            <li class="tablinks" onclick="navigateTo('/accepted_users')">
              <a href="#">
                <span><i class="fas fa-user-plus"></i></span>
                <span>Employees</span>
              </a>
            </li>
            <li class="tablinks" onclick="navigateTo('/users_del')">
              <a href="#">
                <span><i class="fas fa-user-plus"></i></span>
                <span>Joining</span>
              </a>
            </li>
            <li class="tablinks" onclick="navigateTo('/leave_approval_list')">
              <a href="#">
                <span><i class="fas fa-user-plus"></i></span>
                <span>Leave Details</span>
              </a>
            </li>
            <li class="tablinks" onclick="navigateTo('/logout')">
              <a href="#">
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <form action="/logout" method="post" class="btn-center">
          <button type="submit">Logout</button>
        </form> 
      </div>
      <!-- end header -->
      <!-- start dash -->
      <div class="main-content" id="dash">
        <!-- <div class="title">
          <h3 class="title__p"> welcome</h3>
          <p class="title__p"> Assets </p>
        </div> -->
        <div class="main tabcontent"></div>
      </div>
      <!-- end dash -->
    </section>
  </div>
</body>
<script>
  function navigateTo(url) {
    // Perform client-side navigation
    window.location.href = url;
  }
</script>
</html>
