<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offboarding Page</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='offboarding.css') }}">
</head>
<body>
    <h1>Offboarding Page</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>adress</th>
                <th>email</th>
                <th>experience</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_details %}
            <tr>
                <td>{{ user['name'] }}</td>
                <td>{{ user['last_name'] }}</td>
                <td>{{ user['address'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['experience_on_previous_jobs'] }}</td>
                <td>{{ user['status'] }}</td>
                <td>
                    <form action="/accept_form" method="post">
                        <input type="hidden" name="email" value="{{ user['email'] }}">
                        <button type="submit">Accept</button>
                    </form>
                    
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>
